@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

/* styles.categoria-produto.css */
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.error{
    color: red;
    margin-top: 5px;
    text-align: left;
    width: 100%;
    margin-bottom: 0;
    display: block;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.correct{
    color: green;
    margin-top: 5px;
    text-align: left;
    width: 100%;
    margin-bottom: 0;
    display: block;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container-inputs {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
    gap: 10px;
    margin-left: 2rem;
}

h2 {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

#container-inputs input {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}



button {
    background-color: blue;
    color: #ffffff;
    padding: 10px;
    width: 7rem;
    border: none;
    border-radius: 5px;
}

#principal-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width: 65%;
    margin: 0 20%;
    height: 70%;
    top: 0;
    margin-top: 0;
    margin-bottom: 5%;
}
#sub-container {
    display: flex;
    background-color: #ffffff;
    width: 65%;
    margin: 0 20%;
    height: 70%;
    top: 0;
    margin-top: 0;
    margin-bottom: 1%;
}

#conteiner-list{
    background-color: #ffffff;
    margin: .5rem 0;
    gap: 10px;
    max-width: 100px;
    display: flex;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 3%;
}

#conteiner-list img{
    width: 200px;
    height: 200px;
    padding: 35px;
}

.gameDetail {
    border: 5px black;
    text-align: center;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 0.625rem rgba(0, 0, 0);
    flex-direction: column;
    padding: 20px;
    max-width: 230px;
}

.gameDetail p{
    max-width: 200px;
}



































